<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar" style="background-color: #2E4374;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a [routerLink]="['../home']"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img src={{Logo}} alt="Not found" class="img-fluid" style="height: 10rem; width: 10rem" />
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start fs-4 fw-semibold"
                    id="menu">
                    <li class="nav-item">
                        <a [routerLink]="['../home']" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-hospital"></i>
                            <span class="ms-1 d-none d-sm-inline">Profiles</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0">
                                    <span class="d-none d-sm-inline">View</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0">

                                    <span class="d-none d-sm-inline">Add</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Reports</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0">
                                    <span class="d-none d-sm-inline">View</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0">

                                    <span class="d-none d-sm-inline">Add</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                SeTTING
            </div>
        </div>
        <div class="col p-0 m-0" style="background-color: #F1EFEF;">
            <div class="p-2 d-flex justify-content-center shadow text-white content" style="background-color: #2E4374;">
                <h3 class="fw-bold mx-5 py-1">Web Application</h3>
                <div class="dropdown ms-auto py-2">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src={{DP}} alt="DP" width="30" height="30" class="img-fluid rounded-circle" />
                        <span class="d-none d-sm-inline mx-2 fw-bold">
                            {{profileName}}
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li>
                            <a class="dropdown-item" routerLink="details">
                                Your Profile
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <button (click)="logOut()" class="dropdown-item btn">
                                Log out
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <app-home-menu></app-home-menu>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>