<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background-color: #2E4374;">
  <div class="card border-0 py-4 shadow-lg w-50 d-flex justify-content-center align-items-center"
    style="background-color: #4B527E;">
    <div class="card-header text-white">
      <h1>NEW PASSWORD</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="passwordResetForm" (ngSubmit)="updatePassword()" class="text-center">
        <div class="input-group mb-4">
          <span class="input-group-text"><i class="bi bi-key-fill fs-3"></i></span>
          <div class="form-floating">
            <input type="password" formControlName="n_password" placeholder="New Password"
              class="form-control fw-bold" id="n_password" />
            <label for="n_password">New Password</label>
          </div>
        </div>

        <div class="input-group mb-4">
          <span class="input-group-text"><i class="bi bi-key-fill fs-3"></i></span>
          <div class="form-floating">
            <input type="password" formControlName="c_password" placeholder="Confirm Password"
              class="form-control fw-bold" id="c_password" />
            <label for="c_password">Confirm Password</label>
          </div>
        </div>
        <button class="btn btn-lg btn-success text-dark fw-bold">
          CHANGE
        </button>
      </form>
    </div>
  </div>
</div>