input:required:invalid,
input:focus:invalid {
  border-color: red;
}

input:required:valid,
input:focus:valid {
  border-color:green;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Vina+Sans&display=swap");

* {
  font-family: "Lato", sans-serif;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
